
/* header */

header {
	background-image: url(./img/logo\ \(1\).png);
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: 200px;
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 110px 254px 0 ;
}

.menu-list{
	margin-right: 92px;
	white-space: nowrap;
}

.menu li:last-child{
	margin-left: 704px;
	margin-right: 0;
}

.menu-list a {
	font-family: Comforter;
	font-size: 56px;
}


/* promo */
.promo{
	background-image: url(./img/banner.png);
	background-repeat: no-repeat;
	margin-left: 150px;
}

.promo h1{
	font-family: Roboto Mono;
	font-size: 127px;
	text-transform: uppercase;
	padding-left: 203px;
	padding-top: 147px;
	background-image: url(./img/bg.png);
	background-clip: text;
	-webkit-background-clip: text;
	line-height: 140%;
}

.text{
	background-image: url(./img/bg.png);
	color: rgb(0 0 0 / 0%);
	animation: scroll 90s linear infinite;
}


@keyframes scroll {
	100% {
	  background-position: 0px 400%;
	}
  }

.promo-text{
	font-family: Roboto Mono;
	font-size: 26px;
	margin-top: 139px;
	margin-left: 85px;
}
.promo-text-color{
	color: #8C648A;
}

/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	position: relative;

	background-color: #FDFCFA;

	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	line-height: 1.6;
	color: #295F58;
}

img {
	display: block;
	max-width: 100%;
}

a {
	display: inline-block;

	text-decoration: none;
	color: #000000;
}

li {
	list-style: none;
}

.container {
	max-width: 1430px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


/* Course progress */
.course-progress {
	padding: 52px 0;

	background-color: #DAF1EF;
}

.panels-row {
	display: flex;
	justify-content: space-between;
}

.panel {
	position: relative;
	height: 653px;
	flex-basis: 440px;
	overflow: hidden;
}

.panel__cover {
	position: relative;
	z-index: 10;
	height: 100%;
	width: 100%;
	max-width: 440px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	background: lightgray url(assets/1week.jpg) no-repeat;
	background-size: auto 100%;
}
.panel__cover::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 46px;

	background: rgba(253, 252, 250, 0.50);
}

.panel:nth-child(2) .panel__cover {
	background-image: url(assets/2week.jpg);
}

.panel:nth-child(3) .panel__cover {
	background-image: url(assets/3week.jpg);
}

.panel__title {
	z-index: 11;

	font-family: 'Comforter', cursive;
	color: #1B322F;
	font-size: 150px;
	letter-spacing: 1.5px;
	line-height: 1;
	white-space: nowrap;
}

.panel__title span {
	display: inline-block;
	white-space: pre;
}

.panel__text-container {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 710px;
	padding: 72px 32px;

	background: #A9C0BD;
}

.panel__text {
	font-size: 22px;
	color: #000000;
}

.panel__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: #000000;
	opacity: 0;
}


/* ingredients */
.ingredients{
	background-color:#EFD2ED;
}

.ingredients-content p{
	padding-top: 30px;
	font-family: Roboto Mono;
	font-size: 26px;
}

.ingredients-pictures{
	padding-top: 53px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 52px;
}


/* application */
.application{
	margin:0 525px;
}

.application h2 {
	text-transform: uppercase;
	color: #295F58;
	font-size: 96px;
	font-weight: lighter;
	white-space: nowrap;
}

.application p{
	font-size: 32px;
	color: #295F58;
	text-align: center;
}

.application form {
	display: flex;
	flex-direction: column;
}

.application input {
	padding: 30px;
	margin-bottom: 25px;
	background: #DAF1EF;
	border: none;
	color: #295F58;
	font-size: 32px;

}
.application input:last-child{
	margin-bottom: 55px;
}


.application button{
	padding: 20px;
	width: 50%;
	border: 8px solid #DAF1EF;
	background: none;
	color: #295F58;
	margin-left: 220px;
	font-size: 32px;
}

.application button:hover{
	background:#B0E0E6;
	cursor: pointer;
}

.application-link{
	margin-top: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 250px;
	margin-left: 320px;
}